.header {
    position: relative;
    margin-bottom: 15vh;
}
.tag--bar {
    @include flexDisplay(row, 0px, center, center);
    position: absolute;
    @media (min-width: $laptop) {
        width: 60%;
        top: 15vh;
        left: 20%;
    }
    @media (max-width: $mobile) {
        width: 90%;
        top: 15vh;
        left: 5%;
    }
    @media (min-width: $desktop) {
        width: 50%;
        top: 20vh;
        left: 25vw;
    }
}
.main--bar {
    @include flexDisplay(row, 1rem, space-between, center);
    box-shadow: 2px 5px 5px $dark--ciyan;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5vw;

    .tag--list {
        @include flexDisplay(row, 1rem, center, center);
        flex-wrap: wrap;
    }

    margin: auto;
    background: white;
    width: 90%;
    overflow: hidden;
}

.filter--tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    height: 1.5rem;
    width: auto;
    padding-left: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: $background;
    border-radius: 5px;
    p {
        color: $dark--ciyan;
    }
    button {
        border: none;
        background-color: $dark--ciyan;
        &:hover {
            background-color: $dark--ciyan;
        }
        color: white;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 5px;
    }
}
.clear--btn {
    border: none;
    background: none;
    color: $dark--grayish;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: bolder;
}
