.list-item {
    @include flexDisplay(row, 1rem, flex-start, center);
    @media (min-width: $laptop) {
        width: 90%;
    }
    @media (min-width: $desktop) {
        width: 50%;
    }
    @media (max-width: $mobile) {
        width: 90%;
    }
    margin: auto;
    background-color: white;
    .logo {
    }
    .main-info {
    }
    .posting-info {
    }
}
