.item {
    @include flexDisplay(row, 1rem, flex-start, center);
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 2px 5px 5px $dark--ciyan;
    @media (min-width: $laptop) {
        width: 90%;
    }
    @media (min-width: $desktop) {
        width: 60%;
    }
    @media (max-width: $mobile) {
        width: 80%;
    }
    margin: auto;
    background-color: white;
    .logo {
    }
    .main-info {
    }
    .posting-info {
    }
    .tags {
        @include flexDisplay(row, 0.5rem, flex-end, center);
        flex-grow: 1;
    }
}
